<!-- tasks/templates/tasks/list.html -->
<!DOCTYPE html>
<html>
<head>
    <title>To-Do List</title>
</head>
<body>
    <h1>My Tasks</h1>
    
    <form method="POST">
        {% csrf_token %} 
        {{ form.as_p }}
        <button type="submit">Add Task +</button>
    </form>
    <ul>
        {% for task in tasks %}
            <li>
                <div style="display: flex; align-items: center; gap: 8px;">
                    <form method="POST" action="{% url 'update-task' task.id %}">
                        {% csrf_token %} 
                        <input type="checkbox" onchange="this.form.submit()"
                        {% if task.completed %}checked{% endif %}>
                    </form>                
                    <div style="flex-grow: 1; {% if task.completed %}text-decoration: line-through;{% endif %}">
                    {{ task.title }}
                    </div>
                    <form method="POST" action="{% url 'delete-task' task.id %}">
                        {% csrf_token %}
                        <button type="submit">🗑️</button>
                    </form>
                </div>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
