{% extends 'tasks/base.html' %}

{% block title %}My Tasks{% endblock %}

{% block content %}
  <h1>My Tasks</h1>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Task +</button>
  </form>

  <ul>
    {% for task in tasks %}
      <li>
        <div class="task-container">
          <form method="POST" action="{% url 'update-task' task.id %}">
            {% csrf_token %}
            <input
              type="checkbox"
              onchange="this.form.submit()"
              {% if task.completed %}checked{% endif %}
            />
          </form>

          <div class="task-details {% if task.completed %}task-completed{% endif %}">
            <strong>{{ task.title }}</strong><br />
            <small>Created on: {{ task.created|date:"F d, Y H:i" }}</small>
          </div>

          <form method="POST" action="{% url 'delete-task' task.id %}">
            {% csrf_token %}
            <button class="icon-btn" type="submit">🗑️</button>
          </form>

          <a href="{% url 'edit-task' task.id %}">✏️</a>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
