<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap" rel="stylesheet">
    <title>To-Do List</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'tasks/style.css' %}">
  </head>
  <body>
    <h1>My Tasks</h1>

    <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Add Task +</button>
    </form>

    <ul>
      {% for task in tasks %}
        <li>
          <div class="task-container">
            <!-- Checkbox -->
            <form method="POST" action="{% url 'update-task' task.id %}">
              {% csrf_token %}
              <input
                type="checkbox"
                onchange="this.form.submit()"
                {% if task.completed %}checked{% endif %}
              />
            </form>

            <!-- Task info -->
            <div class="task-details {% if task.completed %}task-completed{% endif %}">
              <strong>{{ task.title }}</strong><br />
              <small>Created on: {{ task.created|date:"F d, Y H:i" }}</small>
            </div>

            <!-- Delete -->
            <form method="POST" action="{% url 'delete-task' task.id %}">
              {% csrf_token %}
              <button class="icon-btn" type="submit">🗑️</button>
            </form>

            <!-- Edit -->
            <a href="{% url 'edit-task' task.id %}">✏️</a>
          </div>
        </li>
      {% endfor %}
    </ul>
  </body>
</html>
